{% extends './profile_base.html' %}
{% block title %}Change Password Page{% endblock title %}
{% block content %}
{%load crispy_forms_tags%}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
    <!-- Main content  -->
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">

                            <h1 class="h4 text-gray-900 mb-4">Change Password</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    <button type="submit" class="log">Submit</button>
                                </form>
                        </div>
                    </div>
                </div>
            

        </div>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

{% endblock content %}